/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads/components/*
!/public/uploads/components/.gitkeep
/public/uploads/disposals/*
!/public/uploads/disposals/.gitkeep
/public/uploads/ecr_docs/*
!/public/uploads/ecr_docs/.gitkeep
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
